
:root {
    --text: #ffffff;
    --background: #44448d;
    --primary: #2f27ce;
    --secondary: #141414;
    --accent: #ffcc00;
}
body {
    background-color: red;
}


body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--primary);
    text-align: center;
    padding: 1.2em 0;
}

h1 {
    margin: 0;
    font-size: 2rem;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--accent);
}


main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 1em;
    margin-top: 40px;
    background-color: var(--secondary);
}
